<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 기반 게시글 조회를 위해 사용자의 현재 위치 정보를 사용합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_API_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(IAMPORT_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>IAMPORT_SCHEME</key>
	<string>$(IAMPORT_SCHEME)</string>
	<key>KAKAO_API_KEY</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
		<string>Paperlogy-1Thin.ttf</string>
		<string>Paperlogy-2ExtraLight.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-8ExtraBold.ttf</string>
		<string>Paperlogy-9Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>YONDERTRIPS_API_KEY</key>
	<string>$(YONDERTRIPS_API_KEY)</string>
	<key>YONDERTRIPS_URL</key>
	<string>$(YONDERTRIPS_URL)</string>
</dict>
</plist>
